/* Add custom css styles here */
header {
    height: 400px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex; 
    background-image: url('../images/coffee-biscuits.jpg');

}

.header-text {
    color: white;
    background: rgba(35, 35, 35, .65);
    padding: 2em;
    text-align: center;
    border-radius: 1em;
}

main {
    margin-top: 2em;
}

.aboutus {
    align-items: center;
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgb(242, 242, 242);
}

.aboutus h2 {
    text-align: center;
}

footer {
    background-color: rgb(75, 121, 183);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
 